@import "../../Variables";
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 2px solid purple;
  width: 100%;
  color: black;
  height: 5rem;

  &__tabs {
    display: flex;
    justify-content: space-around;
    height: 3.2rem;
    min-width: 14rem;
    width: 18rem;
  }

  @import "../../Variables";
  &__search {
    position: relative;
    width: 24rem;
    height: 4rem;
    // color: rgba(255, 255, 255, 0.644);
    color: $color-grey-dark-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    @media (max-width: 800px) {
      width: 30rem;
    }
    // border: 2px solid green;
    /* width: 12em; */
    h4 {
      margin: 0;
    }
    &--inputAndIcon {
      display: flex;
      width: 17.5rem;
      .animate-spinn {
        animation: aimate-spinning 1.25s linear infinite;
      }
      i {
        cursor: pointer;
        font-size: 1.3em;
        margin-left: 0.5rem;
      }
      input {
        border-radius: 25px;
        background-color: $color-grey-dark-2;
        color: $color-white;
        text-indent: 20px;
      }
    }
  }

  @keyframes aimate-spinning {
    100% {
      transform: rotate(360deg);
    }
  }

  .inactive {
    font-size: 1.8rem;
    text-decoration: none;
    color: $color-grey-dark-2;
    border-bottom: 2px solid rgb(24, 34, 44);
    border-radius: 10%;
    opacity: 0.7;
  }
  .active {
    opacity: 1;
    font-size: 1.9rem;
    text-decoration: none;
    color: $color-grey-dark-2;
    border-bottom: 4px groove rgb(31, 105, 111);
    border-radius: 10%;
  }
}
